{% extends 'base.html.twig' %}

{% block body %}
<a class="btn btn-default" href="/SymfonyApp/web/app.php/todos">Back to Todos</a>
<hr>
<h2 class="page-header">Restricted Area</h2>
<p>You have gained access to the restricted area.</p>
{% endblock %}